<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - URL Shortener</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    </header>

    <div class="main-content">
        @RenderBody()
    </div>

    <footer>
        @RenderSection("Scripts", required: false)
    </footer>
</body>
</html>